<!-- Footer -->
<footer class="relative p-5 items-center bg-[#ffe6e5] overflow-hidden ">
  <div class="flex flex-col  lg:flex-row lg:justify-around items-center z-[1] container m-auto px-6 md:px-12">
    <div class="flex flex-col text-xl items-center">
      <!--  Logo -->
      <a
        class="cursor-pointer">
        <h3 class="text-2xl font-medium text-blue-500">
          <img class="h-32 lg:h-30 object-cover" src="assets/HESSENSRed_1_20.png"
               alt="Hessens logo">
        </h3>
      </a>
      <!-- Social Media icons -->
      <div class="flex justify-center">
        <app-facebook-social></app-facebook-social>
        <app-instagram-social></app-instagram-social>
        <app-whatsapp-social></app-whatsapp-social>
        <app-tiktok-social></app-tiktok-social>
      </div>
    </div>
    <div class="flex flex-col text-xl items-center">


      <div class="text-center mt-5">
        <p>
          <a target="_blank" class="underline block cursor-pointer" href="assets/files/tyc.pdf">Términos y Condiciones</a>
        </p>
        <p>
          <a target="_blank" class="underline block cursor-pointer" href="assets/files/avisoweb.pdf">Aviso de privacidad</a>
        </p>
        <p>
          <a target="_blank" class="underline block cursor-pointer" href="assets/files/cookies.pdf">Política de cookies</a>
        </p>
      </div>
    </div>
    <div class="flex flex-col text-xl mt-5">
      <p><span class="text-xl font-bold"></span>Contacto:</p>
      <div class="block text-[#333333] mx-5">
        <p>818 253 8172</p>
        <p><a href="mailto://hola@hessens.mx">hola@hessens.mx</a></p>
      </div>
      <!--<div class="text-[#333333] mx-10 my-5">
        <p>Calle Hidalgo 2425 Pte.</p>
        <p>Centro Médico Hidalgo</p>
        <p>Monterrey</p>
        <p>Nuevo León</p>
        <p>México</p>
      </div>-->
    </div>
  </div>
</footer>
