<section>
  <div class="flex justify-center mb-20">
    <img src="assets/Banner_1920x400.png" alt="">
  </div>
</section>
<section>
  <div class="grid grid-cols-1 md:grid-cols-2 place-items-center mx-10 md:mx-20">
    <video width="720" height="480" class="order-last md:order-1 shadow-lg rounded-lg" controls>
      <source src="assets/video/video_hessens.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="my-5 md:my-0 flex flex-col justify-center text-center">
      <p class="text-4xl text-gray-900 text-center">"Trabajamos en equipo para hacer <br> realidad sueños"</p>
      <img class="w-[60%] mx-auto" src="assets/HESSENS-Black%20_crop.png" alt="">
    </div>
  </div>
</section>
<!-- Héssens -->
<section>
  <div class="grid grid-cols-1 md:grid-cols-1 place-items-center bg-tint-pink p-10 text-center font-primary">

    <!--<div class="m-10 order-last">
      <img src="assets/creamosContigoPic.png"
           alt="Creamos contigo">
    </div>-->
    <div class="flex flex-col justify-around items-center content-center mx-10 md:mx-60">
      <!--<img src="assets/HessensBannerBgWhite.png"
           alt="" class="h-[150px] w-auto mb-20">-->
      <div class=" text-gray-400 font-primary">
        <h4 class="text-5xl mb-20 font-secondary tint-red">Creemos en ti, <span class="underline">creamos</span> contigo.</h4>
        <p class="text-2xl mt-10 text-justify"> Esa idea que hace sentido cada vez que se piensa, esa visión que día con día se vuelve más clara, ese destino al que se quiere llegar, pero no es tan claro la forma de lograrlo, no está tan lejos como parece.</p>
        <p class="text-2xl mt-10 text-justify">En Héssens trabajamos de la mano con nuestros socios líderes de opinión para desarrollar marcas o líneas de productos exitosas.</p>

        <p class="text-2xl mt-10 text-justify">Con nuestra experiencia en innovación, manufactura, desarrollo, marketing y logística, convertimos ideas y sueños en realidades tangibles de la más alta calidad.</p>

        <p class="text-2xl mt-10 text-justify"><span class="font-bold">Héssens</span><br>
          Creemos en ti, creamos contigo.</p>
      </div>
    </div>
  </div>
</section>
<!-- Proceso -->
<section>
  <div class="flex flex-col justify-center items-center mt-10 md:m-10 lg:m-20">
    <h3 class="text-4xl font-secondary text-gray-600 pb-15">Proceso</h3>
    <div class="m-10 md:m-20">
      <img src="assets/procesos_color.png" alt="Proceso">
    </div>
  </div>
</section>
<!-- Tu Aliado de Negocios-->
<section>
  <div class="grid grid-cols-1 bg-[#db0000] font-primary lg:grid-cols-2 lg:place-items-center lg:items-center md:p-20">
    <div class="mx-10">
      <img src="assets/tania_smile.png"
           alt="Tania Feel you" class="rounded-lg shadow-lg">
    </div>
    <div class="flex flex-col justify-around items-center">
      <img src="assets/HessensBannerBgWhite.png"
           alt="" class="h-[150px] w-auto">
      <div class="text-white p-10 text-center">
        <h4 class="text-4xl mb-10">Tu nuevo aliado de negocios</h4>
        <p class="text-2xl text-justify">Crear un concepto que conecte con una audiencia, contar con los mejores proveedores, crear un plan de marketing atractivo y tener la experiencia necesaria en logística y finanzas para que el producto sea realmente rentable y exitoso, son sólo algunas de las implicaciones que se tienen al momento de lanzar un nuevo producto al mercado.
          <br> <br> En Héssens, nos enfocamos en esto y más, para que este tipo de emprendimientos fluyan de forma adecuada y se conviertan en un éxito comercial.</p>
      </div>
    </div>
  </div>
</section>
